jsonschema
keyboard
numpy
opencv-python
Pillow
psutil
pyautogui
pyaudio
pygame
pyperclip
pystray
pytesseract
requests
schedule
screeninfo
sentence-transformers
sounddevice
speechrecognition
TTS
vosk
watchdog
pygetwindow
pycaw
comtypes
